/* COPY TO ACCESS-FOR-ALL WHEN STYLES ARE COMPLETE */

#toggle-accessibility {
    position: fixed !important;
    top: 10px !important;
    right: 15px !important;
    z-index: 99999 !important;
}

.main-toggle {
    background: #fff !important;
    border: solid 2px #4d4d4d !important;
    border-radius: 50px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    position: relative !important;
    height: 50px !important;
    width: 50px !important;
    transition: opacity 500ms !important;
}

.main-toggle:hover {
    opacity: .7 !important;
    transition: opacity 500ms !important;
}

.main-toggle:active {
    background: #eee !important;
    opacity: .4 !important;
    transition: opacity 500ms !important;
}

.accessibility-container {
    display: none !important;
    z-index: 99999 !important;
}

.show {
    background: #fff !important;
    border: solid 1px #000 !important;
    border-radius: 10px 10px 10px 10px !important;
    position: fixed !important;
    display: flex !important;
    right: 5px !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    margin-top: 70px !important;
    padding: 10px !important;
    width: 300px !important;
    height: 550px;
}

.accessibility-header {
    font-size: 24px !important;
    margin-bottom: 10px !important;
}

.button-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
}

.toggle-buttons {
    background: #fff !important;
    border-radius: 10px 10px 10px 10px !important;
    border: solid 2px #4d4d4d !important;
    color: #262626;
    cursor: pointer !important;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16px !important;
    height: 85px !important;
    margin: 10px !important;
    padding-bottom: 15px;
    transition: opacity 500ms !important;
    width: 100px !important;
}

.toggle-buttons:hover {
    opacity: .7 !important;
    transition: opacity 500ms !important;
}

.toggle-buttons:active {
    background: #eee !important;
    opacity: .4 !important;
    transition: opacity 500ms !important;
}

.button-img {
    margin-top: 10px;
    margin-bottom: -10px;
}

.big-cursor {
    cursor: url('../images/access-cursor.jpg'), auto !important;	
}

.small-font {
    font-size: 1em !important;
    transition: font-size 250ms, letter-spacing 250ms !important;
}

.medium-font {
    font-size: 1.5em !important;
    transition: font-size 250ms, letter-spacing 250ms !important;
}

.large-font {
    font-size: 2em !important;
    transition: font-size 250ms, letter-spacing 250ms !important;
}

.small-space {
    letter-spacing: 0 !important;
}

.medium-space {
    letter-spacing: 4px !important;
}

.large-space {
    letter-spacing: 8px !important;
}

.increase-weight {
    font-weight: 800 !important;
}

.highlight {
    background: #000 !important;
    border: solid 2px #ffff00 !important;
    color: #ffff00 !important;
}

.reader {
    background: #000 !important;
    border: solid 2px #ffff00 !important;
    display: block !important;
    height: 10px !important;
    position: absolute !important;
    width: 100% !important; 
    z-index: 99999 !important;
}

.key-control-outline {
    border: dashed 3px #ff0000 !important;
}

.status {
    width: 100%;
    display: flex;
    justify-content: center;

}

.status-mark-one,
.status-mark-two {
    border: solid 1px #fff;
    height: 5px;
    width: 30px;
    transition: background 250ms;
}

.contrast-mark-one,
.contrast-mark-two,
.contrast-mark-three {
    border:solid 1px #fff;
    height: 5px;
    width: 20px;
    transition: background 250ms;
}

.status-mark-active {
    background: #4d4d4d;
    transition: background 250ms;
}

.invert {
    filter: invert(100%);
}

.grayscale {
    filter: grayscale(100%);
}

.hue {
    filter: hue-rotate(90deg);
}

.disable-animation {
    transition: none !important;
    animation: none !important;
}